In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('merged_clean_ver2.csv')

In [6]:
data.head()

,id,state,gender,median_home_val,median_household_income,ic2,ic3,ic4,ic5,avggift,target_d
0,44060,FL,M,1158.437751,392,430,466,520,21975,28.000000,100.0
1,96093,IL,M,537.000000,365,415,410,473,19387,5.666667,7.0
2,43333,FL,F,725.000000,301,340,361,436,18837,4.111111,5.0
3,21885,NC,M,1158.437751,401,407,399,413,14014,27.277778,38.0
4,190108,FL,F,995.000000,252,280,316,348,17991,6.000000,5.0